<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>
<h2 align=center>ALL USERS</h2>
<div th:switch="${users}">
    <h2 th:case="null">no users found</h2>
    <div th:case="*">
        <table border="2" bgcolor="#87ceeb" align=center>
            <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>email</td>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td><a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                </td>

            </tr>
            </tbody>
        </table>
        <form action="/users/add" align="center">

            <button type="submit" value="Update User">Add new User</button>
        </form>
    </div>
</div>
</body>
</html>